.Approve-URU-container {
  padding: 20px;
  background-color: #f0f0f0;
}

.Approve-URU-title {
  text-align: center;
  margin-bottom: 20px;
  color: #4CAF50;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-status-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.download-excel-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-excel-btn:hover {
  background-color: #3e8e41;
}

.Approve-URU-table-container {
  overflow-x: auto;
}

.Approve-URU-table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
}

.Approve-URU-table-header {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
}

.Approve-URU-table-data {
  padding: 10px;
  border: 1px solid #ddd;
}

.Approve-URU-price-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.Approve-URU-transition-id-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.Approve-URU-submit-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Approve-URU-submit-btn:hover {
  background-color: #3e8e41;
}